# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Used to bundle Python applications into stand-alone executables
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesistest/
.pytest_cache/
pytest_debug.log

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
.profile
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the Python version is
#   often managed by the user.
# .python-version

# pipenv
#   According to pypa/pipenv#1255, lock files are meant to be checked into source control.
#   However, if you'd prefer to manage dependencies manually in a requirements.txt file, you
#   can uncomment the following lines.
# PIPFILE.lock

# poetry
#   Similar to Pipenv, poetry.lock is meant to be checked into source control.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock

# pdm
#   Similar to Pipenv and Poetry, pdm.lock is meant to be checked into source control.
#   https://pdm.fming.dev/#usage
# pdm.lock

# PEP 582; used by e.g. github.com/fannheyward/coc-pyright
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
venv/
env.bak/
venv.bak/
!/env/__init__.py
!/env/agv_compliance_env.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# VS Code
.vscode/

# Project specific
runs/
.runtime/
_*.py
*.htm
*.webp
images/多agv协同运输机翼_files/
