/* cmsms stylesheet: foundation_styles modified: Tuesday, December 2, 2025 4:06:59 PM */
        
.no-js #nav {
  display: none;
}

:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}

body {
  font-family: 'Raleway', sans-serif;
  color: #666;
  font-size: 13px;
}

a {
  color: #11161C;
  transition: all 0.2s ease;
}

a:hover, a.menuactive, .menu .is-active>a, a:focus, .sub a:not(.nav-card):not(.button):hover {
  color: #292D30;
}

big {
  font-size: 1.2rem;
}

.sub p a:not(.button) {
  color: #A6192E;
}

.button {
  color: white;
  background: #A6192E;
  border-radius: 2px;
  border: 2px solid #A6192E;
}

.button:hover, .button:focus {
  background: transparent;
  color: white;
  color: #11161C;
}

.buttons .button {
  margin: 1rem;
}

.icon-button {
  display: inline-block;
  padding: 0 0 0 0.8rem;;
  border: 0;
  line-height: 2.5rem;
}

.icon-button:hover, .icon-button:focus {
  background: #666;
  color: white;
}

.icon-button::after {
  content: "\f061";
  background: #292D30;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: var(--fa-font-solid);
  font-weight: bold;
  width: 30px;
  margin: 0 0 0 10px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 2.5rem;
}

.icon-button.pdf::after {
  content: "\f1c1";
}

.icon-button.quote::after {
  content: "\f15c";
}

.corner {
  border-radius: 5px;
}

.margin-top {
  margin-top: 4rem;
}

.margin-bottom {
  margin-bottom: 4rem;
}

.margin-small {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.upper {
  text-transform: uppercase;
}

.h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
}

#header {

}

.sub #header {
  background-image: url(/assets/images/banner_2025.jpg);
  background-size: cover;
  background-position: center;
}

#slider {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#top-bar {
  background: #A6192E;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 100;
}

#top-bar .input-group {
  margin: 0;
  line-height: 18px;
}

#top-bar .input-group-button {
  padding: 0.25rem;
  background: #EEE;
  cursor: pointer;
}

#top-bar .input-group-button:hover {
  opacity: 0.8;
}

#top-bar [type=text] {
  height: 1.75rem;
  padding: 0 0.25rem;
  border: 1px solid white;
}

.search-button {
  cursor: pointer;
}

#logo {
  background-color: #11161C;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  z-index: 100;
}


#nav {
  background: #A6192E;
  font-family: 'Open Sans', sans-serif;
  z-index: 100;
}

#dropdown-menu .menudepth0>a {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

#dropdown-menu .menudepth0>a {
  text-transform: uppercase;
  border-right: 0.25px solid rgba(255,255,255,0.33);
  padding: 1.5rem 1.5rem;
}

#dropdown-menu .is-active>a, #dropdown-menu .menuactive>a {
  background: #11161C;
}

#dropdown-menu .is-dropdown-submenu .is-active>a {
  background: #A6192E;
  color: #EEE;
}

#dropdown-menu .menudepth2.menuactive>a {
  color: #A6192E;
}

#dropdown-menu a:not(.menuactive):hover {
  background: rgba(0,0,0,0.1);
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
  display: none;
}

.is-dropdown-submenu {
  border: 0;
  background: #11161C;
}

.is-dropdown-submenu a {
  color: #EEE;
  line-height: 1.5rem;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a::after {
  border-color: transparent #EEE transparent;
}

.accordion-menu {
  background: #11161C;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
  border-color: #EEE transparent transparent;
}

#mobile-menu.accordion-menu a {
  color: #666;
}

#mobile-menu.accordion-menu .menudepth0.menuactive>a, .menudepth0.menuactive>button {
  background: #E23811;
  color: #EEE;
}

#mobile-menu.accordion-menu .menuactive:not(.menuparent):not(.menudepth0)>a {
  color: #E23811
}

.accordion-menu .menudepth1 a span {
  padding-left: 1rem;
}

.accordion-menu .menudepth2 a span {
  padding-left: 2rem;
}

.submenu-toggle {
  height: 37px;
}

.submenu-toggle::after {
  border-color: #EEE transparent transparent;
}

#mega-container {
  position: absolute;
  margin-left: 0;
  background: #11161C;
  max-width: 560px;
  padding: 0 0.25rem;
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: row;
  flex-wrap: wrap;
  transition: visibility 0.2s, opacity 0.2s linear;
}

#dropdown-menu .parent:hover #mega-container {
  visibility: visible;
  opacity: 1;
}

#mega-container a {
  color: #777;
  padding: 0.2rem 0;
  line-height: 1.3rem;
  transition: none;
}

#mega-container .menudepth1>a {
  font-size: 0.9rem;
  line-height: 1.4rem;
  border-bottom: 1px solid #666;
  margin-bottom: 0.5rem;
  padding: 0 0 0.5rem 0;
  color: #AAA;
}

#mega-container a:hover {
  color: #A6192E;
}

#mega-container .menudepth2>a::before {
  content: "›";
  font-size: 1rem;
  margin-right: 0.25rem;
}

#mega-container .menudepth2 {
  margin-left: 0.75rem;
  text-indent: -0.6rem;
  font-size: 0.7rem;
}

#mega-container>li {
  display: block;
  width: 33.3%;
  padding: 1rem;
}


#title-bar {
  background: #EEE;
  padding: 0.75rem;
}

#title-bar .h1 {
  display: inline-block;
  font-weight: normal;
  color: #292D30;
  font-size: 1.2rem;
  margin: 0;
}

#title-bar>.breadcrumb {
  margin-top: 0.8rem;
}

#title-bar a:hover {
  color: #A6192E;
}

#footer {
  background: #292D30;
  color: #AAA;
  margin-top: 2rem;
}

#footer::before {
  content: "";
  height: 14px;
  width: 100%;
  display: block;
  background: white url(/assets/images/footer-top-bg.png) repeat-x;
}

#footer .grid-padding-x {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

#footer .text strong {
  font-size: 1.5rem;
}

#footer .fa-li, #footer .menu.vertical a {
  color: #AAA;
}

.marker {
  color: #11161C;
  margin-right: 0.5rem;
}

.marker.light {
  color: #A6192E;
}

.marker .fa-inverse {
  color: #A6192E;
  font-size: 80%;
}

.text.large {
  font-size: 1rem;
}

#footer .heading {
  text-transform: uppercase;
  color: #A6192E;
  font-size: 1.1rem;
  font-weight: 700;
}

#footer strong {
  font-weight: normal;
  color: white;
}

#footer a {
  color: white;
  font-weight: 500;
}

#footer a:hover {
  color: #A6192E;
}

#footer-logo img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#social-icons {
  font-size: 0.9rem;
}

#social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #555;
  margin-right: 1rem;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  padding: 0;
}

#social-icons a:hover {
  color: #EEE;
  background: #A6192E;
}

#copyright {
  margin-top: 3rem;
  background: #11161C;
  color: #666;
  font-size: 0.85rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#copyright a {
  color: #666;
}

#copyright a:hover {
  color: #A6192E;
}

#copyright p {
  margin: 0;
}

#copyright span {
  display: block;
  opacity: 0;
height: 0.2rem;
}

.title-block {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 0.6rem;
}

.title-block .h1 {
  font-size: 1.6rem;
  color: #292D30;
  font-weight: 600;
}

.h2 {
  font-family: 'Raleway', sans-serif;
}

.title-icon {
  color: #A6192E;
}

.title-icon::before, .title-icon::after {
  content: "";
  width: 60px;
  height: 1px;
  background: #666;
  display: inline-block;
}

big.h1 {
  color: #A6192E;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-card {
  border: 0;
  color: #666;
  border-bottom: 2px solid white;
}

.nav-card:hover {
  border-bottom: 2px solid #A6192E;
  background: #EEE;
}

.nav-card .button {
  display: inline-block;
  padding: 0 0 0 0.8rem;;
  border: 0;
  line-height: 2rem;
}

.nav-card .button:hover {
  background: #A6192E;
}

.nav-card .button:after {
  content: "\f061";
  background: #292D30;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: var(--fa-font-solid);
  font-weight: bold;
  width: 30px;
  margin: 0 0 0 10px;
  text-align: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 2rem;
}

.divider-block {
  background: #11161C;
  color: #EEE;
  padding-top: 1.5em;
  padding-bottom: 1.5rem;
}

.divider-light {
  background: transparent;
  color: #292D30;
}

.divider-block .h2 {
  text-transform: uppercase;
  font-size: 1.75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.divider-block .h3 {
  font-size: 1.9rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
}

.divider-block .h4 {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

.divider-text {
  padding: 1rem 0;
  max-width: 435px;
}

.divider-text p {
  margin-bottom: 1.5rem;
}

.divider-block .button:hover {
  background: black;
  color: white;
}

.news-block {
  margin: 1.5rem 0;
}

.news-image {
  background: #A6192E;
  color: #EEE;
  padding-bottom: 0.25rem;
  margin-right: 1rem;
}

.news-image img {
  display: block;
  margin-bottom: 0.25rem;
}

.news-title {
  font-size: 1rem;
}

.news-text p {
  margin-bottom: 0.25rem;
}

.news-text {
  padding-right: 20%;
}

.news-text a {
  color: #A6192E;
}

.accordion-title, .accordion-title {
  color: #666;
  background: #EEE;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  border: 0;
  margin-top: 1rem;
}

.accordion-title::before {
  background: #A6192E;
  width: 3rem;
  display: inline-block;
  position: relative;
  color: #EEE;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
  font-weight: normal;
  line-height: 3rem;
}

.is-active .accordion-title {
  background: #A6192E;
  color: #EEE;
}

.is-active .accordion-title::before {
  background: #11161C;
}

.accordion-content {
  border: 0;
  background: #EEE;
}

.block {
  padding: 2rem;
}

.block .h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.block .h2 i {
  background: #A6192E;
  color: white;
  padding: 0.6rem 0.6rem 0.5rem 0.6rem;
  border-radius: 3px;
  margin-right: 1rem;
}

.parallax {
  height: 150px;
  width: 100%;
  background-attachment: fixed;
  background-position: bottom;
  margin: 4rem 0;
}


.fa-li {
  color: #A6192E;
}

.fa-ul:not(.menu) li {
  margin-bottom: 0.5rem;
}

.menu.fa-ul a {
  padding: 0.5rem 0;
  color: #A6192E;
}

.fa-ul .menu.nested {
  margin-left: 0;
}

.product h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.product-image {
  width: 100%;
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tabs-title {
  float: none;
  flex: 1 0 0;
  position: relative;
  align-items: center;
  display: flex;
}

.tabs-title:hover {
  background: #EEE;
}
.sub .tabs-title a {
  padding: 1rem 0.25rem;
  text-align: center;
  color: #666;
  font-size: 0.8rem;
  flex: 1 0 0;
  background: transparent;
  line-height: 1rem;
}

.sub .tabs-title>a[aria-selected=true], .sub .tabs-title>a:focus {
  background: transparent;
  color: white !important;
}

.tabs-title.is-active {
  background: #A6192E;
}

.tabs-panel p img {
  width: 100%;
}

.video-only {
  max-width: 640px;
  margin: 2rem auto;
}

#search-results a {
  text-decoration: underline;
  color: #A6192E;
}

.post {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid black;
}

.post h2, .post h2 a {
  font-size: 1.75rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  clear: both;
  color: #A6192E;
}

.post h3 {
  font-size: 1.3rem;
}

.post .button {
  color: white;
}

.post .button:hover {
  background: white;
  color: #A6192E;
}

.post table {
  table-layout: fixed;
  max-width: 100%;
}

.byline span {
  margin: 0 0.5rem;
}

.post figure {
  margin: 1rem 40px;
}

.post .aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.post figcaption {
  font-style: italic;
}

.post img {
  padding: 5px;
  border: 1px solid #EEE;
}

.tag {
  position: relative;
  margin-left: 1rem;
  padding: 0;
  line-height: 18px;
  padding: 2px 4px;
  border: 0;
}

.tag::before {
  transition: all 0.2s;
  content: "";
  display: block;
  border: 11px solid transparent;
  border-left-width: 0;
  border-right-color: #A6192E;
  position: absolute;
  top: 0;
  left: -10.5px;
}

.button.tag:hover {
  background: #EEE;
}

.tag:hover::before {
  transition: all 0.2s;
  border-right-color: #EEE;
}

.grid-padding-x > .sidebar {
  background: #EEE;
  padding: 4rem;
}

.sidebar h3 {
  font-size: 1.25rem;
  border-bottom: 1px solid #A6192E;
}

ul.archives {
  margin-left: 1.25rem;
}

ul.archives li {
  margin-bottom: 0.5rem;
}

.wp-block-gallery.has-nested-images {
  display: flex;
  align-items: normal;
  flex-wrap: wrap;
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
  width: calc(50% - 1.5rem);
  margin: 0.25rem;
}

.wp-block-gallery.has-nested-images figure.wp-block-image img {
  flex: 1 0 0%;
  height: 100%;
  object-fit: cover;
  width: 100%;
  display: block;
}

.alignleft {
  display: inline;
  float: left;
  margin: .75em 1.5em .75em 0;
}

.alignright {
  display: inline;
  float: right;
  margin: .75em 0 .75em 1.5em;
}

.wp-block-image.alignleft, .wp-block-image.alignright {
  float: none;
  display: block;
}
/* cmsms stylesheet: foundation_orbit modified: Tuesday, September 12, 2023 4:36:34 PM */
.orbit-caption {
  font-size: 3vw;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: rgba(0,0,0,0.6);
  padding: 1rem;
  bottom: 22%;
}

.orbit-caption p {
  margin: 0;
}

.orbit-caption .heading {
  font-size: 4vw;
  font-weight: 600;
  position: relative;
  margin-bottom: 0.5rem;
}

.orbit-caption .heading::after {
  content: "";
  width: 70px;
  display: block;
  height: 2px;
  background: #A6192E;
}

.orbit-caption .button:hover {
  color: white;
}

/* Medium and up */
@media screen and (min-width: 40em) {

  .orbit-caption {
    bottom: 12%;
    left: 5%;
    margin: 0;
    width: 60%;
  }

  .orbit-caption {
    font-size: 0.8rem;
  }

  .orbit-caption .heading {
    font-size: 2.2rem;
  }

  .orbit-caption p {
    margin-bottom: 1rem;
  }

  .home #header .orbit-slide img {
    height: 500px;
    width: 100vw;
    object-fit: cover;
  }

}


/* Large and up */
@media screen and (min-width: 64em) {

  .orbit-caption {
    bottom: 20%;
    left: 5%;
    margin: 0;
    width: 40%;
  }

  .home #header .orbit-slide img {
    height: 600px;
  }

}
/* cmsms stylesheet: fastforms modified: Monday, September 22, 2025 3:37:02 PM */
#raqformff #dvFastForms .ff-section-header {
  color: #A6192E;
  font-size: 1.5rem;
}

#raqformff #dvFastForms .ff-group-row .ff-item-row {
  margin: 0.5rem 0;
}

#raqformff #dvFastForms .ff-label-col {
  margin-bottom: 6px;
}

#raqformff #dvFastForms .ff-label {
  display: inline;
}

#select2-drop {
  left: 40px !important;
}

#raqformff .select2-container {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#raqformff .select2-search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#raqformff #dvFastForms .ff-btn-submit {
  background-color: #A6192E;
  border: 2px solid #A6192E;
  border-radius: 2px;
  transition: all .25s;
}

#raqformff #dvFastForms .ff-btn-submit:hover {
  background-color: white;
  color: #A6192E;
}
/* cmsms stylesheet: foundation_queries modified: Sunday, May 25, 2025 2:08:13 PM */

/* Small only */
@media screen and (max-width: 39.9375em) {

.sticky-container {
  bottom: 0;
}

  .small-mt-2 {
    margin-top: 2rem;
  }

  #nav {
    background: #11161C;
  }

  #nav .grid-container {
    padding-left: 0;
    padding-right: 0;
  }

  #slider {
    position: relative;
  }

  .divider-block {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .video-only {
    margin: 2rem 1rem;
  }

}

/* Medium and up */
@media screen and (min-width: 40em) {

  .medium-align-left {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -justify-content: flex-start;
  }

  .menu.medium-align-right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  #header {
    height: 350px;
  }

  .home #header {
    height: 450px;
      }

  #logo {
    background-color: rgba(0,0,0,0.6);
  }

  #title-bar .h1 {
    font-size: 1.8rem;
  }

  #copyright span {
    margin: 0 0.5rem;
    display: inline;
    opacity: 1;
  }

  .wp-block-gallery.has-nested-images figure.wp-block-image {
    width: calc(33.33% - 1.5rem);
    margin: 0.25rem;
  }


}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  #dropdown-menu .menudepth0>a {
    padding: 1.2rem;
    font-size: 0.9rem;
  }

  .medium-mt-2 {
    margin-top: 2rem;
  }

}

/* Large and up */
@media screen and (min-width: 64em) {

  .home #header {
    height: 550px;
  }

  .video .h3 {
    min-height: 4rem;
  }

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* X-Large and up */
@media screen and (min-width: 75em) {

}
